body{
    background-color: #fff5f7;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 20px;
    font-style: oblique;;
}
header{
    background-color: #ffb6c1;
    color: white;
    padding: 10px 0;
    text-align: center;
}
main{
    background-image: url('images/background.jpg');
    background-size: cover;
}
logo{
    width: 100px;
    height: auto;
}
nav{
    background-color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}
nav a{
    color: #333;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: color 0.3s;
}

nav a:hover{
    color: #ff69b4;
}
.hero{
    text-align: center;
    padding: 50px 20px;
}
.hero h1{
    font-size: 48px;
    color: #ff69b4;
    margin-bottom: 20px;
}
.hero p{
    font-size: 24px;
    color: #333;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.5;
}
/* BUTTON */
.btn{
    display: inline-block;
    margin-top: 20px;
    background-color: #ff69b4;
    color: white;
    padding: 15px 35px;
    border-radius: 12px;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
}
.btn:hover{
    background-color: #ff1493;
}
footer{
    background-color: #ffb6c1;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
h1, h2, h3{
    color: #d63384;
}
<!--cake gallery-->
.cake-gallery{
    container-type: inline-size;
    display: grid;
    justify-content: right;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}
.cakes{
    padding: 60px 20px;
    text-align: center;
    
}
.cakes h2{
    font-size: 36px;
    color: #d63384;
    margin-bottom: 20px;
}
.cake-container div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.cake-box{
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 250px;
    text-align: center;
}
.cake-box img{
    width: 180px;
    height: auto;
}
.h3{
    color: #d63384;
    margin-bottom: 20px;
    text-align: center;
}
.p faq{
    text-align: center;
}